img{
    height: 75%;
}
body{
    background-color: bisque;
}
section{
    background-color: antiquewhite;
}
h3{
    color: blue;
}
h2{
    color: brown;
}
span{
    font-style: italic;
    font-size: larger;
    color: rgb(43, 43, 226);
}
h4{ 
    font-size: larger;
    color: red;
    text-align: center;
}
h1{
    text-align: center;
    color: dimgray;
   
}
p{
    font-size: larger;
}
